@charset "utf-8";

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, select, p, button {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html.ie7 {
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  line-height: 1.2;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

ul, ol, li {
  list-style: none;
}

i, em, address, optgroup {
  font-style: normal;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
  margin: 0;
  padding: 0;
}

[hidden], template {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  background: none;
  border: 0;
  cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/*---------------------------------------------
 custom
 ----------------------------------------------*/
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 1em;
  font-family: 'Pretendard', Helvetica, sans-serif;
  direction: ltr;
  line-height: 1.5;
}

audio, canvas, img, svg, video {
  vertical-align: middle;
}

table {
  width: 100%;
}

table th {
  font-weight: normal;
}

::-moz-selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}